.trailer-btn {
  &--text {
    width: 0;
    opacity: 0;
    // transition: all 0.5s linear;
  }
  &:hover {
    .trailer-btn--text {
      width: fit-content;
      opacity: 1;
      // transition: all 0.5s linear;
    }
  }
}

.highlight-card {
  &.gradient-backgorund {
    background: linear-gradient(135deg, black, #8c8c8c2a, black);
  }
}

.event-list {
  .event-options {
    padding: 6px;
    // border: 1px solid #7d78ff;
    width: fit-content;
    border-radius: 56px;
  }
}
