.trailer-btn {
  &--text {
    width: 0;
    opacity: 0;
    // transition: all 0.5s linear;
  }
  &:hover {
    .trailer-btn--text {
      width: fit-content;
      opacity: 1;
      // transition: all 0.5s linear;
    }
  }
}
