.contact-icon {
  background-color: white;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  padding: 8px;
  transition: all 0.1s linear;
  &:hover {
    padding: 4px;
    transition: all 0.1s linear;
  }
}
